@charset "UTF-8";
/* CSS Document */

html,
body {
	margin: 0px;
}
.clear {
	clear: both;
}
/* width from 960px to 90%.  max-width added */
#wrapper {
	width: 90%;
	max-width: 960px;
	margin: auto;
}

/*---------- HEADER ----------*/
/* changed width from 960px to 100% */
header {
	height: 300px;
	width: 100%;
	background: #e3e3e3;
}

/*---------- CONTENT AREA ----------*/
/* Changed width from 320px to 33.3333% */
.col-3 {
	width: 33.333%;
	height: 320px;
	float: left;
}
.grey-1 {
	background: #d5d5d5;
}
.grey-2 {
	background: #c4c4c4;
}
.grey-3 {
	background: #b7b7b7;
}

/*---------- FOOTER ----------*/
/* Changed width from 960px to 100% */
footer {
	width: 100%;
	height: 30px;
	background: #e3e3e3;
}
